* text=auto
*.png binary
*.jpg binary
*.edds binary

# Change GitHub language categorization
addons/**/*.c linguist-language=EnforceScript
addons/**/*.st linguist-language=Stringtable

optionals/**/*.c linguist-language=EnforceScript
optionals/**/*.st linguist-language=Stringtable

# Do not count extras in language usage stats
extras/* linguist-vendored
